h1 {
  font-size: 2em;
  font-family: "Verdana", sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

nav {
  background-color: #17381d;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: Verdana, sans-serif;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #d4e9e0;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
