<h1>¡Bienvenido!</h1>
  <h2>Área de Usuarios Suscritos</h2>
  <p>Gracias por suscribirse a nuestro servicio. Tiene acceso a contenido exclusivo.</p>
  <ul>

    @for(item of items(); track item.id) {
      <li>
        <img [src]="item.image" alt="{{ item.name }}">
        <h3>{{ item.name }}</h3>
        <p>pik</p>
        <!-- Condicional para mostrar los botones de compra y descripción -->
        <!-- @if (item.selected) {
          <button (click)="buyItem(item)">Comprar</button>
        }
        @else {
          Si el item no está seleccionado, puede mostrar otro contenido o nada -->
          <!-- <p>No seleccionado</p>
        } -->
      </li>
    }
  </ul>
