<h1>HOME</h1>
<p>Aqui encontrareis informacion sobre los diferentes tipos de Pikmin que existen.</p>
<p>Disponemos de algunos productos para comprar, disponibles solamente para suscriptores.</p>
<p>¡Registrate y no te pierdas lo que esta web ofrece!</p>
<div id="personatges">
    @for(pikmin of pikmins(); track pikmin._id) {
        <h3>{{ pikmin.name }}</h3>
        <img [src]="pikmin.image" alt="{{ pikmin.name }}">
        <button (click)="showInfo(pikmin)">Más información</button>
    }
</div>
