<div class="user-profile">
  <h1>Profile</h1>
  <section class="user-info">
    <h2>User Info</h2>
    <ul>
      <li>
        <strong>Username:</strong> {{ user()?.username }}
      </li>
    </ul>
  </section>
  <section class="buying-history">
    <h2>Buying History</h2>
    <ul>
      <li>
        @for(item of items(); track item){
          <div class="item">
            <p>{{ item.name }}</p>
            <p>{{ item.price }}</p>
          </div>
        }
      </li>
    </ul>
  </section>
</div>
<div>
  <button>
    <a [href]="'/area/' + userId">Ir a mi perfil</a>
  </button></div>
